<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
</head>
<body>
    <h1>Sentiment Analysis</h1>
    <form id="reviewForm">
        <label for="review">Enter your review:</label><br>
        <textarea id="review" name="review" rows="4" cols="50"></textarea><br>
        <button type="submit">Submit</button>
    </form>
    <p id="sentimentResult"></p>

    <script>
        document.getElementById('reviewForm').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent default form submission

            // Get review text from input field
            var reviewText = document.getElementById('review').value;

            // Send review text to Flask backend
            fetch('/predict_sentiment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ review: reviewText })
            })
            .then(response => response.json())
            .then(data => {
                // Display sentiment result
                document.getElementById('sentimentResult').innerText = 'Sentiment: ' + data.sentiment;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
